NEXT_PUBLIC_API_URL=http://localhost:5000/api
NODE_ENV=development
BASE_URL=http://localhost:3000
NEXT_PUBLIC_RECAPCHA_CLIENT_KEY=your_recaptcha_site_key
RECAPTCHA_SERVER_KEY=your_recaptcha_secret_key
